<div class="new_form_container">

    <h3>予定を編集してください</h3>

    <div class="form_container">
        <%= render "shared/error", obj: @plan, class: "notice" %>
        <%= form_with model: @plan do |f| %>
            <table>
                <tr>
                    <th colspan="2" class="new_container"><%= f.label :title, "タイトル", class: "form_label" %></th>
                </tr>
                <tr>
                    <td colspan="2" class="new_container"><%= f.text_field :title, class: "form_input" %></td>
                </tr>

                <tr>
                    <th class="date_container"><%= f.label :start, "開始日", class: "form_label" %></th>
                    <th class="date_container"><%= f.label :end, "終了日", class: "form_label" %></th>
                </tr>
                <tr>
                    <td class="new_container"><%= f.date_field :start, class: "form_input" %></td>
                    <td class="new_container"><%= f.date_field :end, class: "form_input" %></td>
                </tr>

                <tr  class="allday_checkbox">
                    <td class="new_container"><%= f.check_box :allday %></td>
                    <th class="new_container"><%= f.label :allday, "終日の場合はチェックを入れます" %></th>
                </tr>

                <tr>
                    <th colspan="2" class="new_container"><%= f.label :memo, "スケジュールメモ", class: "form_label" %></th>
                </tr>
                <tr>
                    <td colspan="2" class="new_container"><%= f.text_area :memo, placeholder: "メモを入力する", class: "memo_input" %></td>
                </tr>
            </table>

            <div class="submit">
            <span><%= link_to "キャンセル", :plans, class: "back_link" %></span>
            <span><%= f.submit "保存", class: "save" %></span>
            </dev>
        <% end %>
    </div>
</div>